<%= render 'form', card: @card %>
<div class="row">
  <div class="col-sm-offset-5 col-md-2 text-center">
    <%= link_to 'Back', card_path(@card), :class => "btn btn-primary btn-lg" %>
  </div>
</div>
